<h1>intro to the site</h1>
<div>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
 </div>
<p>Find me in app/views/home/index.html.erb</p>


<!--Ruby should be generating all this crap just need a loop to make it 
    this is all hardcoded in to see how things look like -->
    <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
    <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
 <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
 <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
