<div class="view">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
      <br><br><br><br>
      <h1 class="display-2 ml-auto">Fight bold.</h1></li>
      <h3 class=" mb-3 ml-auto">Start your career as a fighter, or help someone accomplish their goal.</h3>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Find players." aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" id="hook_button"type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="jumbotron" id="hook">
  <div class="container ">
    <h1 class="display-4">Fundraising specialized for fighting game players.</h1>
    <h4 class="">From Marvel Infnite to Guilty Gear, no matter what you play, we can help you fulfill your goals.
      <br>Just create your player profile and start crowdfunding your career.</h4>
    <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    <br><br>
  </div>
</div>

<div class="container">
  <div id="main_goal_headline" class="ml-auto">
    <h2>Goals</h2>
  </div>

</div>

<div class="row">
  <% @goals.each do |goal| %>
    <div class="col mb-4">
      <div class="card p-2" style="width: 20rem;">
        <img class="card-img-top" src="/assets/download.svg" alt="Card image card-img-top">
        <div class="card-block">
          <h4 class="card-title"><%= goal.title %></h4>
          <p class="card-text"><%= goal.campaigng%></p>
          <%= link_to 'Show', goal, class: 'btn'%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1>intro to the site</h1>
<div>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
 </div>
<p>Find me in app/views/home/index.html.erb</p>


<!--Ruby should be generating all this crap just need a loop to make it 
    this is all hardcoded in to see how things look like -->
    <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
    <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
 <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
 <h2>Events title goes here </h2>
    <p>Event info goes here </p>
    <p>Image goes somewhere in here, make sure to indent things correcly </p>
    <p> image of event on left and info on the right like youtube? or something </p>
<br>
