<div class="view">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h1 class="display-3 m1-auto" style="color: dimgray">New Player</h1>

			<%= render 'form', player: @player %>

 			<ol class="breadcrumb">
       			 <li class="breadcrumb-item"><a href="<%=players_path %>">Back</a></li>
   			</ol>

	</div>
  </div>
</div>