<div class="view">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h5 class="display-3 ml-auto" style="color: dimgray">New Goal</h5>

<%= render 'form', goal: @goal %>

<%= link_to 'Back', profile_index_url %>
