<div class="view">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h5 class="display-3 ml-auto" style="color: dimgray">Pay Here</h5>

		<%= render 'form_support', goal: @goal %>


	</div>
  </div>
</div>