    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container" >
        <a class="navbar-brand" href="<%=home_index_url%>"><h2>Project Name</h2></a>
        <div class= " navbar-nav  mr-auto">
          <a class="nav-item nav-link text-danger" href="#">Events?</a>
        </div>
        <ul class="navbar-nav">
          <li>
            <% if (user_signed_in? != true) %>
              <a href="<%= new_user_registration_url %>"role="button" class="btn btn-primary mr-3">Sign Up<span class="sr-only">(current)</span></a>
            <% end %>
          </li>
          <% if user_signed_in? != true %>
            <li>
              <a class="btn btn-outline-secondary" href="<%= new_user_session_url %>" role="button">Log In </a>
          <% else%>
            <a class="btn btn-outline-secondary " href="<%= destroy_user_session_url %>" data-method="delete">Sign Out </a>
            </li>
          <% end%>

        </ul>
      </div>
    </nav>
    